.banners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 55px 0 480px;

  &__item {
    margin-bottom: 20px;
    outline: 0;
    background-position: center center;
    background-repeat: no-repeat;

    // TODO fix banner size

    &--org {
      width: 100%;
      height: 129px;
      background-image: url(../img/org_sm.png);
      // background-blend-mode: multiply;
      mix-blend-mode: multiply;
    }

    &--victorina {
      width: 107px;
      height: 77px;
      background-image: url(../img/victorina_sm.png);

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media only screen and (min-width: 768px) {

  .banners {
    margin-top: 25px;
    margin-bottom: 155px;
    width: 210px;

    &__item {
      &--org {
        height: 116px;
        background-image: url(../img/org_md.png);
      }

      &--victorina {
        width: 96px;
        height: 69px;
        background-image: url(../img/victorina_md.png);
      }
    }
  }
}

@media only screen and (min-width: $screen-lg) {
  .banners {
    flex-grow: 0;
    margin-top: 44px;

    &__item {
      &--org {
        height: 212px;
        margin-bottom: 30px;
        background-image: url(../img/org_lg.png);
      }

      &--victorina {
        width: 178px;
        height: 125px;
        background-image: url(../img/victorina_lg.png);
      }
    }
  }
}