.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  font-family: $font-family;
  background-color: $gray-light;

  &__inner {
    width: 275px;
  }

  &__content {}

  &__footer-wrapper {}
}
