extends ../pug/layout.pug

block title
  title Контроллер | Мобильные приложения для Android и iOS

block body
  body.page
    noscript У вас отключен JavaScript. Это пугает.
    main.page_inner
      h1.title скачай приложение #[span контролер]
      .download-group
        button.download-group__item.download-group__item--android get on
        button.download-group__item.download-group__item--ios download on the #[span iPhone]
        a.download-group__inst-link(href='#') Инструкция по&nbsp;установке на&nbsp;iPhone
      .banners
        .banners__item.banners__item--org
        a.banners__item.banners__item--victorina(href='https://vmk.myopenugra.ru/index.php', target='_blank')
    .page__footer
      a(href='#', target='_blank') Политика конфиденциальности данных

  //- .popup
  //-   form.popup__form
  //-   .popup__title Введите 6-значный код
  //-   submit.popup__submit Скачать