extends ../pug/layout.pug

block title
  title Контроллер | Мобильные приложения для Android и iOS

block body
  body.page
    noscript У вас отключен JavaScript. Это пугает.
    main.page__inner
      .page__left-wrapper
        h1.page__title скачай приложение #[span контролер]
        .download-group
          button.download-group__item.download-group__item--android(id='android-btn') Android
          button.download-group__item.download-group__item--ios(id='ios-btn') iPhone
          a.download-group__inst-link(href='https://support.apple.com/ru-ru/HT204460', target='_blank') Официальная инструкция по&nbsp;установке на&nbsp;iPhone от&nbsp;компании&nbsp;Apple
          a.download-group__inst-link(href='instruction.html', target='_blank') Инструкция по&nbsp;установке на&nbsp;iPhone (контроль.активист.рф)
      .banners
        .banners__item.banners__item--org
        a.banners__item.banners__item--victorina(href='https://vmk.myopenugra.ru/index.php', target='_blank')
    .page__footer
      a(href='agreement.html', target='_blank') Политика конфиденциальности

  .popup(id='modal-base')
    .popup__window
      .popup__form
        .popup__title Введите 6-значный код
        .popup__input-wrapper
          input.popup__input(type='text', maxlength='1', id='code-0')
          input.popup__input(type='text', maxlength='1', id='code-1')
          input.popup__input(type='text', maxlength='1', id='code-2')
          input.popup__input(type='text', maxlength='1', id='code-3')
          input.popup__input(type='text', maxlength='1', id='code-4')
          input.popup__input(type='text', maxlength='1', id='code-5')
        button.popup__submit(id='download-btn', disabled='true') Скачать

  script(src='js/script.min.js')
