extends ../pug/layout.pug

block title
  title Контроллер | Инструкция по&nbsp;установке на&nbsp;iPhone

block body
  body.page.page--agreement
    noscript У вас отключен JavaScript. Это пугает.
    main.page__inner
      .agreement__wrapper
        h1.agreement__title Инструкция по&nbsp;установке на&nbsp;iPhone
        .agreement__text #[b 1.] Для завершения установки мобильного приложения зайдите в раздел «Настройки» вашего мобильного телефона, на вкладку «Основные»:
        .agreement__img
          img(src='img/inst01.jpg', alt='')
        .agreement__text В строке «Управление устройством» перейдите по стрелке.
        .agreement__text #[b 2.] В открывшемся экране нажмите на кнопку «Доверять P&B Stratwork ООО»
        .agreement__img
          img(src='img/inst02.jpg', alt='')
        .agreement__text #[b 3.] После нажатия на экране отобразится всплывающее окно:
        .agreement__img
          img(src='img/inst03.jpg', alt='')
        .agreement__text В данном окне нажмите кнопку «Доверять» и приложение будет окончательно установлено.